@{
    ViewData["Title"] = "Customer Dashboard";
}

<div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <h3>CustomerDashboard</h3>
      </div>
    </div>
</div>