@{
    ViewData["Title"] = "Product Dashboard";
}

<div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <h3>ProductDashboard</h3>
      </div>
    </div>
</div>

