@{
    ViewData["Title"] = "Product Detail";
}
<div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
       <h3>ProductDetail</h3>
      </div>
    </div>
</div>
